name: flutter_facebook_app_links
description: A Flutter plugin to catch deferred deep links from Facebbok ads with FB App Links SDK.
version: 1.1.0+1
homepage: https://github.com/Mapk26/flutter_facebook_app_links

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    androidPackage: it.remedia.flutter_facebook_app_links
    pluginClass: FlutterFacebookAppLinksPlugin

